# Virtual env & build
venv/
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/

# IDE
.vscode/
.idea/
.DS_Store

# Logs & misc
*.log
*.pth
temp_*.jpg
temp_frame.jpg
frame.jpg
benchmark_results.csv
.ipynb_checkpoints/
